.saved-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  height: 100vh;
  color:#000;
}
.saved-bg{
    background-color:#0f0f0f;
    color:#fff;
}

.saved-img {
  width: 30%;
  top: 30%;
}
.saved-heading {
  font-size: 36px;
  font-family: 'Roboto';
  font-weight: 700;
}
.saved-description {
  color: #616e7c;
  font-size: 16px;
  font-family: 'Roboto';
}
.saved-view {
  display: flex;
}

.trending-title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
  font-family: 'Roboto';
}
.fire-icon {
  background-color: #0f0f0f;
  border-radius: 40px;
  height: 50px;
  padding: 10px;
  width: 50px;
  margin-left: 20px;
}

.trending-header {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ebebeb;
}

.saved-list-container {
  display: flex;
  flex-direction: column;
list-style-type:none;
  width: 90%;
}


.trend-headBg {
  background-color: #212121;
  color:#fff;
}
