.nav-header {
  display: flex;
  justify-content: center;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 25px 32px;
}
@media screen and (max-width: 767px) {
  .nav-content {
    flex-direction: column;
  }
}

.website-logo {
  width: 110px;
}

@media screen and (min-width: 768px) {
  .website-logo {
    width: 165px;
  }
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-end;
  flex: 1;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.theme-button {
  border: none;
  outline: none;
  background-color: transparent;
}

.nav-menu-item {
  font-family: 'Roboto';
  margin: 10px;
  font-weight: 400;
  font-size: 16px;
}

.logout-btn {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 14px;
  padding: 8px 24px;
  color: #3b82f6;
  background-color: transparent;
  border: 2px solid #3b82f6;
  border-radius: 4px;
  margin-left: 14px;
  cursor: pointer;
  outline: none;
}

.profile {
  width: 30px;
  height: 30px;
}
@media screen and (min-width: 768px) {
  .profile {
    width: 40px;
    height: 40px;
  }
}

.popup-content {
  background-color: #0f0f0f;
  border-radius: 16px;
  width: 70%;
  max-width: 400px;
  color: #fff;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  margin-left: 48px;
  margin-bottom: 48px;
  margin-right: 48px;
}
.pop-up-text {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
}
.cancel {
  background-color: transparent;
  outline: none;
  border: 1px solid #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  padding: 8px 24px;
  margin-right: 10px;
  color: #fff;
}

.confirm {
  background-color: #3b82f6;
  padding: 8px 24px;
  color: #fff;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  cursor: pointer;
}

.nav-bg {
  background-color: #181818;
}
